:root{
    --indigo: #6610f2;
    --blue:#007bff;
    --indigo:#6610f2;
    --purple:#6f42c1;
    --pink:#e83e8c;
    --red:#dc3545;
    --orange:#fd7e14;
    --yellow:#ffc107;
    --green:#28a745;
    --teal:#20c997;
    --cyan:#17a2b8;
    --white:#fff;
    --gray:#6c757d;
    --gray-dark:#343a40;
    --primary:#007bff;
    --secondary:#6c757d;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#343a40;
    --breakpoint-xs:0;
    --breakpoint-sm:576px;
    --breakpoint-md:768px;
    --breakpoint-lg:992px;
    --breakpoint-xl:1200px;

    --color:#34195e;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: .2s;
    color: rgba(0, 0, 0, 0.82);
} 
body{
}
#userPlate{
    width : 180px;
    height: 100px;
    background: #eaeaea;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: .1em solid #0000000f;
    box-shadow: 1px 1px 10px #aaaaaa36;
    margin-bottom: 10px;
}
#userPlate p {
    margin: 0px;
    padding: 10px 0px;
    font-size: 22px;
    color: #0000ffbf;
}


#container{
    margin-bottom: 50px;
    border: .1em solid #563d7c;
    /* border-radius: 10px; */
    /* box-shadow: inset 0px 2px 20px 0px #5c59598f; */
    width: 450px;
    min-height: 130px;
    max-height: 80vh;
    overflow-y: auto;
    background: #ffffff;
    position: relative;
    float: left;
    top: 100px;
    /* padding: 10px; */
    margin-left: 100px;
    transition-duration: 1s;
}
#header{
    width: 100%;
    background: var(--color);
    padding: 15px 0px;
    position: sticky;
    z-index: 100;
    margin: 0px;
    top: -2px;
    font-size: x-large;
    color: #ffffff;
    text-align: center;
}
#task_container{
    border-top: 1px solid #0000001f;
    width: 100%;
}

.task{
    overflow: hidden;
    border-bottom: 1px solid #bbbbbb40;
    transition-duration: 1s;
    min-height: 44px;
    /* height: 44px; */
    max-height: 150px;
}
.task:last-child {
    border-bottom: 0;
}
.done{
    padding: 10px 10px;
    /* box-sizing: border-box; */
    display: inline-block;
    /* border-left: 1px solid #bbbbbb40; */
    /* border-right: 1px solid #bbbbbb40; */
    margin: 4px;
}
.task_name{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: inline-block;
    margin: 5px 10px;
    max-width: 260px;
    height: auto;
    cursor: pointer;
}
.task_name:active{
    color:yellow;
}
.fuzzy{
    filter:blur(1px);
}
.numberTagTask{
    border: .03em solid #563d7c;
    cursor: pointer;
    width: 24px;
    height: 21px;
    margin: 12px 9px;
    text-align: center;
    line-height: 20px;
    display: block;
    float: left;
    background: #34195e;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #563d7cab;
}
.edit_task{
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 12px 10px;
    display: inline-block;
    float: right;
    background-size: contain;
    position: relative;
    opacity:.5;
    transition-duration:.6s;
}
.edit_task:hover{
    opacity:1;
    transform:rotate(360deg);
}
.delete_task{
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 15px 10px;
    display: inline-block;
    float: right;
    background-size: cover;
    position: relative;
    right: 0px;
    opacity:.5;
    transition-duration:.6s;    
}
.delete_task:hover{
    width: 18px;
    height: 18px;
    opacity:1;
    transform:scale(1.1) rotate(360deg);
}
.save{
    box-sizing: border-box;
    border: 1.5px solid var(--color);
    cursor: pointer;
    width: 75px;
    height: 30px;
    margin: 5px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    float: right;
    background: #d9d9d900;
    background-size: cover;
    display: none;
    left: 12px;
    color: var(--color);
    padding: 0px;
    border-radius: 0;
}

.save:hover{
    background: var(--color);
    color: white;
}
#addtask{
    box-shadow: 0px 0px 5px 0px #7a6f6f;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /* border: .01em solid #ffff; */
    text-align: center;
    line-height: 45px;
    background: var(--color);
    color: white;
    position: sticky;
    margin: 24px 12px;
    font-size: 57px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#addlist:hover,#addtask:hover {color: var(--color);background: white;}

#editedText{
    width: 250px;
    margin-left: 10px;
    border-radius: 15px;
    /* border: .2em solid blue; */
    transition-duration: .2s;
    padding: 5px 10px;
    color: #515151;
    font-weight: 700;
}
#editedText:focus{
    width: 250px;
    /* margin-left: 10px; */
    border-radius: 0px;
    /* border: .1em solid orange; */
}

#clickToAdd{
    display: inline-block;
    font-family: verdana;
    border: .1em solid var(--color);
    /* border-bottom: 1px solid #aaa; */
    padding: 6px 30px;
    /* background: #a2d3b221; */
    border-radius: 15px;
    font-size: 13px;
    color: var(--color);
}

#loginContainer{
    box-shadow: 1px 1px solid #aaa;
    border: .1em solid #a2a2a22e;
    display: inline-block;
    background: var(--color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    border-radius: 20px;
}
#loginContainer > div{
    padding: 20px 50px;
}
#userName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: var(--color);
    width: 250px;
    /* border-radius: 20px; */
    border: 0px;
    /* border: .1em solid yellow; */
    transition-duration: .2s;
    padding: 8px 10px;
}
#password{
    width: 250px;
    /* border-radius: 20px; */
    border: 0px;
    /* border: .1em solid yellow; */
    transition-duration: .2s;
    padding: 8px 10px;
    margin-bottom: 10px;
    display: block;
}
#userName:focus,#password:focus{
    /* border-radius: 0px; */
    /* border: .1em solid orange; */
}
label{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:10px;
    margin-bottom:5px;
    color: white;
}
button{
    color: var(--color);
    padding: 10px 43px;
    /* background: yellow; */
    border: 0px;
    margin-bottom:5px;
    margin-top:10px;
    display: inline-block;
    /* border-radius: 25px; */
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
/* making the check box 70% bigger */
input[type="checkbox"]{
    transform: scale(2);
}

#massage{
}

.animate1{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-timing-function: ease-out;
}
@keyframes example {
    0%   {margin-left: 0px;}
    50%   {margin-left: 25px;}
    100% {margin-left: 0px;}
}
.animate2{
    animation-name: example2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-timing-function: ease-out;
}
@keyframes example2 {
    0%   {margin-left: 25px;}
    50%   {margin-left: 0px;}
    100% {margin-left: 25px;}
}

@media only screen and (max-width:320px){
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    } 
    #container{
        position: relative;
        margin-left: 10px;
    }
    #listgroup-container{
        position: relative;
        margin-left: 10px;
    }
}