:root {
    --indigo: #6610f2; --blue:#007bff; --indigo:#6610f2; --purple:#6f42c1; --pink:#e83e8c; --red:#dc3545; --orange:#fd7e14; --yellow:#ffc107; --green:#28a745; --teal:#20c997; --cyan:#17a2b8; --white:#fff; --gray:#6c757d; --gray-dark:#343a40; --primary:#007bff; --secondary:#6c757d; --success:#28a745; --info:#17a2b8; --warning:#ffc107; --danger:#dc3545; --light:#f8f9fa; --dark:#343a40; --breakpoint-xs:0; --breakpoint-sm:576px; --breakpoint-md:768px; --breakpoint-lg:992px; --breakpoint-xl:1200px; --color:#34195e; }

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: .2s;
    color: inherit;
}

body {
    display: flex;
    justify-content: space-evenly;
    overflow-x: hidden;
    /* overflow: hidden; */
    box-sizing: border-box;
    width: 100vw;
    /* background: url("img/login-page-bg.jpg"); */
    background-attachment: fixed;
    background-size: 100% 100%;
}

button {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0000003d;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5556;
}

::selection {
    color: white;
    background: green;
}

/* ----- background image styling ----- */
img#backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: -100;
}

#userPlate {
    width : 180px;
    height: 100px;
    background: #eaeaea;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: .1em solid #0000000f;
    box-shadow: 1px 1px 10px #aaaaaa36;
    margin-bottom: 10px;
}

#userPlate p {
    margin: 0px;
    padding: 10px 0px;
    font-size: 22px;
    color: #0000ffbf;
}

#container {
    /* margin-bottom: 50px; */
    border: .1em solid #563d7c;
    border-radius: 10px;
    /* box-shadow: inset 0px 2px 20px 0px #5c59598f; */
    width: 500px;
    height: 600px;
    /* max-height: 80vh; */
    overflow: hidden;
    background: #ffffff;
    position: relative;
    /* float: left; */
    /* padding: 10px; */
    padding-bottom: 40px;
    margin-left: -250px;
    margin-top: 60px;
    /* margin-bottom: 50px; */
    transition-duration: 1s;
    overflow:hidden;
}
#container::after{
    content:"";
    width: 100%;
    height:40px;
    background:#1c1b1b;
    position:absolute;
    bottom: 0px;
}

#header {
    width: 100%;
    background: #1c1b1b;
    padding: 15px 20px;
    box-sizing: border-box;
    position: sticky;
    z-index: 100;
    margin: 0px;
    top: -2px;
    font-size: large;
    color: #ffffff;
    text-align: center;
}

#task_container {
    border-top: 1px solid #0000001f;
    width: 100%;
    height: 445px;
    overflow: auto;
}

.task:nth-child(even) {
    background: #f8fcffe6;
}

.task:nth-child(odd) {
}

.task {
    overflow: hidden;
    /* border-bottom: 1px solid #bbbbbb40; */
    transition-duration: 1s;
    min-height: 44px;
    /* height: 44px; */
    max-height: 150px;
}

.task:last-child {
    border-bottom: 0;
}

.done {
    padding: 10px 10px;
    /* box-sizing: border-box; */
    display: inline-block;
    /* border-left: 1px solid #bbbbbb40; */
    /* border-right: 1px solid #bbbbbb40; */
    margin: 4px;
}

.task_name {
    font-size: 14.5px;
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    margin: 5px 10px;
    max-width: 280px;
    height: auto;
    cursor: pointer;
}

.task_name:active {
    color: yellow;
}

.fuzzy {
}

.line-through {
    text-decoration: line-through;
    filter: blur(1px);
}

.numberTagTask {
    border: .03em solid #563d7c;
    cursor: pointer;
    width: 24px;
    height: 21px;
    margin: 12px 9px;
    text-align: center;
    line-height: 20px;
    display: block;
    float: left;
    background: #1c1b1b;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #563d7cab;
}

.edit_task {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 12px 10px;
    display: inline-block;
    float: right;
    background-size: contain;
    position: relative;
    opacity: .5;
    transition-duration: .6s;
}

.edit_task:hover {
    opacity: 1;
    transform: rotate(360deg);
}

.delete_task {
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 15px 10px;
    display: inline-block;
    float: right;
    background-size: cover;
    position: relative;
    right: 0px;
    opacity: .5;
    transition-duration: .6s;
}

.delete_task:hover {
    width: 22px;
    height: 22px;
    opacity: 1;
    transform: scale(1.1) rotate(360deg);
}

.save {
    box-sizing: border-box;
    border: 1.5px solid var(--color);
    cursor: pointer;
    width: 75px;
    height: 30px;
    margin: 10px 5px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    float: right;
    background: #d9d9d900;
    background-size: cover;
    display: none;
    left: 12px;
    color: var(--color);
    padding: 0px;
    border-radius: 0;
}

.save:hover {
    background: var(--color);
    color: white;
}

#addtask {
    box-shadow: 0px 0px 5px 0px #7a6f6f;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    /* border: .01em solid #ffff; */
    text-align: center;
    line-height: 37px;
    background: #1c1b1b;
    color: white;
    position: sticky;
    margin: 7px 7px;
    font-size: 46px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#addlist:hover,#addtask:hover {
    color: var(--color);
    background: white;
}

#editedText {
    width: 250px;
    margin-left: 10px;
    border-radius: 15px;
    /* border: .2em solid blue; */
    transition-duration: .2s;
    padding: 5px 10px;
    color: #515151;
    /* font-weight: 700; */
}

#clickToAdd {
    display: inline-block;
    font-family: verdana;
    border: .1em solid black;
    /* border-bottom: 1px solid #aaa; */
    padding: 3px 20px;
    background: black;
    /* border-radius: 15px; */
    font-size: 12px;
    color: white;
    cursor: cell;
    /* margin-top: -19px; */
    position: relative;
    display: inline-block;
    top: -9px;
}

#loginContainer {
    box-shadow: 1px 1px solid #aaa;
    border: .1em solid #000000;
    border-radius: 4px;
    display: inline-block;
    background: #1c1c1c4f;
    /* opacity: .2; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    /* border-radius: 20px; */
}

#loginContainer > div {
    padding: 20px 50px;
}

#userName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    /* color: white; */
    width: 250px;
    /* border-radius: 20px; */
    border: 0px;
    /* border: .1em solid yellow; */
    transition-duration: .2s;
    padding: 8px 10px;
    /* background: #1e90ff85; */
}

#password {
    width: 250px;
    /* border-radius: 20px; */
    border: 0px;
    /* border: .1em solid yellow; */
    transition-duration: .2s;
    padding: 8px 10px;
    margin-bottom: 10px;
    display: block;
}

#userName:focus,#password:focus {
    /* border-radius: 0px; */
    /* border: .1em solid orange; */
}

label {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
}

button {
    color: var(--color);
    padding: 10px 43px;
    /* background: yellow; */
    border: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
    display: inline-block;
    /* border-radius: 25px; */
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

/* making the check box 70% bigger */
input[type="checkbox"] {
    transform: scale(2);
    cursor: pointer;
    outline: none;
}

input[type="checkbox"]:hover {
    transform: scale(2.1) rotate(0deg);
    cursor: pointer;
    animation: shaker .35s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite;
}

@keyframes shaker{
    0%{
        transform:scale(2.1);
    }
    50%{
        transform:scale(2.25);
    }
    100%{
        transform:scale(2.1);
    }
}

#massage {
}

.animate1 {
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.6, 5.1, 1, 1);
}

#task-description {
    max-height: 100px;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    font-size: 12.5px;
    box-sizing: border-box;
    color: #7a7a7a;
}

#taskExpandOverlay {
    width: 100vw;
    height: 100vh;
    background: #00000099;
    z-index: 1001;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#taskExpandBody {
    width: 400px;
    min-height: 300px;
    max-height: 600px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    position: relative;
    margin: 30px auto;
    z-index: 100;
    overflow: hidden;
}

#taskExpandBody > p {
    font-size: 13px;
    color: #676767;
}

#taskExpandBody-timer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #7990a8;
    /* font-size: 20px; */
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    color: white;
    /* line-height: 60px; */
}

#taskExpandBody-timer-left {
    width: 52%;
    /* height: 100%; */
    color: white;
    border-right: 1px solid;
    display: block;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

#taskExpandOverlay #status {
    padding: 4px 6px;
    background: orange;
    color: black;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    bottom: 63px;
    left: 20px;
    cursor: pointer;
}

#taskExpandOverlay #status:hover {
    box-shadow: 0px 0px 4px #4f44444f;
}

#taskExpandBody-timer-right {
    width: 48%;
    /* height: 100%; */
    color: white;
    display: block;
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    text-align: center;
}

#close-taskExpandBody {
    display: block;
    top: 4px;
    right: 4px;
    position: absolute;
    /* border-radius: 50%; */
    right: 2px;
    top: 2px;
    width: 22px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    background: lightcoral;
}

@keyframes example {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 100px;
    }

    100% {
        margin-left: 0px;
    }
}

.animate2 {
    animation-name: example2;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
}

@keyframes example2 {
    0% {
        margin-left: 0px;
    }

    50% {
        margin-left: 75px;
    }

    100% {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 320px) {
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #container {
        position: relative;
        margin-left: 10px;
    }

    #listgroup-container {
        position: relative;
        margin-left: 10px;
    }
}
