*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 100ms;
    color: #000000;
}    
#userPlate{
    width : 180px;
    height: 100px;
    background: #eaeaea;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: .1em solid #0000000f;
    box-shadow: 1px 1px 10px #aaaaaa36;
    margin-bottom: 10px;
}
#userPlate p {
    margin: 0px;
    padding: 10px 0px;
    font-size: 22px;
    color: #0000ffbf;
}


#container{
    border: .1em solid #9d791b2b;
    border-radius: 10px;
    box-shadow: inset 0px 2px 20px 0px #5c59598f;
    width: 450px;
    min-height: 130px;
    background: #ffffff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    /* padding: 10px; */
}
#header{
    /* border-radius: 10px 10px 0px 0px; */
    width: 100%;
    /* height: 60px; */
    background: #4CAF50;
    padding: 15px 0px;
    /* padding-top: 32px; */
    position: relative;
    margin: 0px;
    top: -2px;
    /* left: -14px; */
    font-size: x-large;
    color: #ffffff;
    text-align: center;
    box-shadow: inset 0px 0px 15px #a24a4aa1;
}
#task_container{
    /* border: 1px solid #aaa; */
    width: 100%;
}

.task{
    overflow: hidden;
    /* width: 100%; */
    margin-bottom: 10px;
    border-bottom: 1px solid #2421041c;
}

.done{
    padding: 10px;
    display: inline-block;
    /* border: 2px solid #626262; */
    margin: 0;
}
.task_name{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: inline-block;
}
.numberTag{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    background: #ffc200;
}
.edit_task{
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 10px;
    display: inline-block;
    float: right;
    background: url(img/icons.png);
    /* background-position: -115px -308px; */
    background-size: contain;
    position: fixed;
    right: 30px;
}
.edit_task:hover{
    width: 18px;
    height: 18px;
}
.delete_task{    
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 10px;
    display: inline-block;
    float: right;
    background: url(img/delete.png);
    background-size: cover;
    position: fixed;
    right: 0px;
}
.delete_task:hover{
    width: 18px;
    height: 18px;
}
.save{
    cursor: pointer;
    width: 13px;
    height: 14px;
    margin: 10px;
    display: inline-block;
    float: right;
    background: url(img/save.png);
    background-size: cover;
    display: none;
    position: fixed;
    right: 15px;
}
.save:hover{    
    width: 17px;
    height: 17px;
}
#addtask{
    box-shadow: inset 11px -1px 20px 0px #7a6f6f;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    background: #ba918c;
    color: #ffffff;
    position: relative;
    margin: 24px 12px;
    font-size: 57px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#editedText{
    width: 250px;
    margin-left: 10px;
    border-radius: 15px;
    border: .1em solid blue;
    transition-duration: .2s;
    padding: 5px 10px;
    color: #515151;
    font-weight: 700;
}
#editedText:focus{
    width: 250px;
    margin-left: 10px;
    border-radius: 0px;
    border: .1em solid orange;
}

#clickToAdd{
    color: #1b3d20c9;
    display: inline-block;
}

#loginContainer{
    box-shadow: 1px 1px solid #aaa;
    border: .1em solid #a2a2a22e;
    display: inline-block;
    background: #5bdbd83d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    border-radius: 20px;
    box-shadow: inset 1px 1px 20px #aaa;
}
#loginContainer > div{
    padding: 20px 50px;
}
#userName{
    width: 250px;
    border-radius: 20px;
    border: .1em solid blue;
    transition-duration: .2s;
    padding: 8px 10px;
}
#password{
    width: 250px;
    border-radius: 20px;
    border: .1em solid blue;
    transition-duration: .2s;
    padding: 8px 10px;
    margin-bottom: 10px;
    display: block;
}
#userName:focus,#password:focus{
    border-radius: 0px;
    border: .1em solid orange;
}
label{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top:10px;
    margin-bottom:5px;
}
button{
    color: white;
    padding: 10px 43px;
    background: #0080002b;
    border: .1em solid #0080002b;
    /* box-shadow: 1px 1px 10px #aaa; */
    margin-bottom:5px;
    margin-top:10px;
    display: inline-block;
    border-radius: 25px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#massage{
}

@media only screen and (max-width:500px){
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }    
    #userPlate{
        width : 180px;
        height: 50px;
        background: #eaeaea;
        border-radius: 10px;
        text-align: right;
        padding: 10px;
        border: .1em solid #0000000f;
        box-shadow: 1px 1px 10px #aaaaaa36;
        margin-bottom: 10px;
    }
    #userPlate p {
        margin: 0px;
        padding: 10px 0px;
        font-size: 15px;
        color: #0000ffbf;
    }

    
    #container{
        border-radius: 10px;
        box-shadow: inset 1px 1px 20px 1px #5c595978;
        width: 90%;
        min-height: 130px;
        background: #fc6a6afc;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        /* padding: 10px; */
        top: 100px; 
    }
    #task_container{
        /* border: 1px solid #aaa; */
        /* width: 90%; */
    }
    
    .task{
        overflow: hidden;
        /* width: 90%; */
        margin: 0;
        border-bottom: 3px solid #ffffff;
    }
    
    .done{
        padding: 10px;
        display: inline-block;
        border-right: 2px solid #ffffff;
        margin: 0;
    }
    .task_name{
        padding: 5px 5px 5px 2px;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .edit_task{    
        cursor: pointer;
        width: 15px;
        height: 15px;
        margin: 10px;
        display: inline-block;
        float: right;
        background: url(img/edit.png);
        background-size: cover;
    }
    .delete_task{    
        cursor: pointer;
        width: 15px;
        height: 15px;
        margin: 10px;
        display: inline-block;
        float: right;
        background: url(img/delete.png);
        background-size: cover;
    }
    .save{
        cursor: pointer;
        width: 15px;
        height: 15px;
        margin: 10px;
        display: inline-block;
        float: right;
        background: url(img/save.png);
        background-size: cover;
        display: none;
    }
    #addtask{
        box-shadow: inset 11px -1px 20px 0px #7a6f6f;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        text-align: center;
        line-height: 40px;
        background: #ba918c;
        color: #ffffff;
        position: relative;
        margin: 24px 12px;
        font-size: 44px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #editedText{
        width: 55%;
        margin-left: 10px;
        border-radius: 15px;
        border: .1em solid blue;
        transition-duration: .2s;
        padding: 5px 10px;
        color: black;
    }
    #editedText:focus{
        width: 55%;
        margin-left: 10px;
        border-radius: 0px;
        border: .1em solid orange;
    }
    
    #clickToAdd{
        color: #1b3d20c9;
        display: inline-block;
        font-size: 13px;
    }
    
    #loginContainer{
        box-shadow: 1px 1px solid #aaa;
        border: .1em solid #a2a2a22e;
        display: inline-block;
        background: #5bdbd83d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        border-radius: 20px;
        box-shadow: inset 1px 1px 20px #aaa;
    }
    #loginContainer > div{
        padding: 20px 50px;
    }
    #userName{
        width: 250px;
        border-radius: 20px;
        border: .1em solid blue;
        transition-duration: .2s;
        padding: 8px 10px;
    }
    #password{
        width: 250px;
        border-radius: 20px;
        border: .1em solid blue;
        transition-duration: .2s;
        padding: 8px 10px;
        margin-bottom: 10px;
        display: block;
    }
    #userName:focus,#password:focus{
        border-radius: 0px;
        border: .1em solid orange;
    }
    label{
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top:10px;
        margin-bottom:5px;
    }
    button{
        color: white;
        padding: 10px 43px;
        background: #0080002b;
        border: .1em solid #0080002b;
        /* box-shadow: 1px 1px 10px #aaa; */
        margin-bottom:5px;
        margin-top:10px;
        display: inline-block;
        border-radius: 25px;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
    }
    
    #massage{
    }
}