#listgroup-container{
    border: .1em solid #563d7c;
    /* border-radius: 10px; */
    /* box-shadow: inset 0px 2px 20px 0px #5c59598f; */
    min-width: 400px;
    width: auto;
    min-height: 130px;
    background: #ffffff;
    position: relative;
    float:left;
    top: 100px;
    /* padding: 10px; */
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    overflow: hidden;
}
#list-container-header{
    width: 100%;
    background: #563d7c;
    padding: 15px 0px;
    position: relative;
    margin: 0px;
    top: -12px;
    /* left: -0.06em; */
    font-size: x-large;
    color: #ffffff;
    text-align: center;
}
#list_container{
    height:450px;
    overflow:auto;
    padding-top: 13px;
}
span.list-date {
    position: absolute;
    font-size: 9.5px;
    right: 88px;
    /* padding-bottom: 10px; */
    display: inline-block;
    opacity: 0;
}
.list:hover .list-date{
    opacity:1;
}
.list_name{
    /* border-left: 1px solid #bbb; */
    font-weight: 500;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: inline-block;
    padding: 13px 10px;
    cursor: pointer;
    margin-left: 0px;
    max-width: 220px;
    max-height: 70px;
    overflow: hidden;
    margin-top: 5px;
}
.list:nth-child(odd){
    background:#ff7f5012;
}
.list{
    height: auto;
    overflow: hidden;
    /* width: 100%; */
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #2421041c;
    /* padding-top: 10px; */
    /* padding-bottom: 5px; */
    transition-duration: .1s;
    position: relative;
}
.list:first-child {
    margin-top: -12px;
}
.list:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px #0000006b;
    background: #eee9;
}
.selected{
    /* box-shadow:inset 0px 0px 10px #aaa; */
    background: #eee;
}
.edit_list{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 15px 10px;
    display: inline-block;
    float: right;
    /* background-position: -115px -308px; */
    background-size: contain;
    position: relative;
    opacity:.6;
    transition-duration:.6s;
}
.edit_list:hover{
    width: 22px;
    height: 22px;
    opacity:1;
    transform:rotate(360deg);
}
.delete_list{
    cursor: pointer;
    width: 22px;
    height: 22px;
    margin: 15px 10px;
    display: inline-block;
    float: right;
    background-size: cover;
    position: relative;
    right: 0px;
    opacity:.5;
    transition-duration:.6s;
}
.delete_list:hover{
    opacity:1;
    transform:rotate(360deg);
}
.save_list{
    box-sizing: border-box;
    border: 1.5px solid #563d7c;
    cursor: pointer;
    width: 75px;
    height: 30px;
    margin: 9px 10px;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    float: right;
    background: #d9d9d900;
    background-size: cover;
    display: none;
    /* position: fixed; */
    /* right: 25px; */
    left: 12px;
    color: #563d7c;
}
.save_list:hover{
    background: #563d7c;
    color:white;
}

#editedTextList{
    width: 180px;
    margin-left: 10px;
    border-radius: 15px;
    border: .2em solid #563d7c;
    transition-duration: .2s;
    padding: 7px 10px;
    color: #515151;
    font-weight: 700;
    transition-duration: .2s;
    margin-top:6px;
}
#editedTextList:focus{
    width: 180px;
    margin-left: 10px;
    border-radius: 0px;
    transition-duration: .2s;
}

#addlist{
    box-shadow: 0px 1px 5px 0px #7a6f6f;
    width: 50px;
    height: 50px;
    /* border: .03em solid #ffff09; */
    text-align: center;
    line-height: 45px;
    background: #563d7c;
    color: white;
    position: relative;
    margin: 24px 12px;
    font-size: 57px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 7px;
}

#editedText{
    width: 236px;
    margin-top: 1px;
    margin-left: -10px;
    border-radius: 15px;
    border: 0px;
    /* border: .1em solid yellow; */
    outline: .03em solid #563d7c;
    transition-duration: .2s;
    padding: 6px 10px;
    color: #515151;
    /* font-weight: 700; */
    font-family: verdana;
}


#clickToAddlist{
    display: inline-block;
    font-family: verdana;
    border: .1em solid #563d7c;
    padding: 3px 24px;
    border-radius: 15px;
    font-size: 14px;
    color: #563d7c;
    cursor: cell;
}

.numberTagList{
    border: .03em solid #563d7c;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 12px 9px;
    text-align: center;
    line-height: 20px;
    display: block;
    float: left;
    background: white;
    color: #563d7c;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #563d7cab;
}

.numberTagList:active{
    box-shadow: 0;
    background:white;  
    color:#563d7c;  
}